<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
</head>
<body>
    <div><h3>Thank you for your business!</h3></div>
    <div><p>We charged your credit card for{{ price}}</p></div>
    <p>You have ordered {{order.quantity_ordered}} items so far and spent {{order.total_price}}with Amadon.com!</p>
    <p><a href="/">Go Back</a></p>
</body>
</html>