<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}	
    <link rel="stylesheet" href="{% static  'style.css'%}">  
    <title>greater number</title>
    
</head>
<body>
        <main >
            <div class="time_lable"><h1> Welcome to The greater Number Game</h1></div>
            <div class="time_lable"><p>I am Thinging of a number between 1 and 100 <br> take agess </p></div>


                    <form action="" >
                        {% csrf_token %}
                        {% if color != 'white'   %}
                        <div class='Answer' style=" background-color:{{color}}; "> {{result}}</div>
                        {%else%}
                        <div class='Answer' style="display: none  "> </div>
                        {%endif%}
                        <input type="text"  name="answer" required>
                        <label for=""> Guess the number</label><input type="submit" name="sub" placeholder="Rest">
                    </form>
            </div>
        </main>
</body>
</html>