<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}	
    <link rel="stylesheet" href="{% static  'style.css'%}">  
    <title>Time Display</title>
    
</head>
<body>
        <main >
            <div class="time_lable"><p> The Counter</p></div>
            <div class="time">
                <form action="/Counter" method="post">
                    {% csrf_token %}
                <h4>counting :<p > {{request.session.count}}</p></h4>
                <input type="submit" name="" >
            </form></div>
        </main>
</body>
</html>