main {
    background-color: aliceblue;
    display: flex;
    height: 900px;
    align-items: center;
    flex-direction: column;

}
.time_lable{
    
    width: 550px;
    height: 80px;
    text-align: center;
    margin: 20px  0;
}
.time{
    background-color: white;
    text-align: center;
    width: 400px;
    height: 70px;
    margin: 20px  0;
    
}

.Answer
{

    width: 400px;
    height: 420px;
    font-size: 35px;
    border: 1px solid black;
    color: white;
}
.red
{
    
    background-color: tomato;
}
.green {
    display: flex;
    background-color:greenyellow ;
}