<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}	
    <link rel="stylesheet" href="{% static  'style3.css'%}">  
    <title class="title-dark">Tv-show insert </title>
</head>
<body>
        <footer class="col-12" ><h1>Add a New Show</h1> <a href="/shows/">Back to home</a></footer>
      
      <div class="col-2" >
          <div class="container col-6">
            
            <div class="column col-6">
              <form method="post" class="row">
                {% csrf_token %}
              
                <label for="">Title</label>
                <input type="text" name="title_from" required>
                <div>
                <label for="">Network</label>
                <input type="text" name="network_from" required>
                <label for="">State</label>
                <input type="date" name="date_from" required>
              </div>
                <label for="">Desc</label>
                <input type="desc" name="desc_from">
                <input type="submit" class="btn btn-danger" name="tv_change" value="add" >
              </form>
            </div>
          </div>
      </div>
      <div class="col-8">
        <h1>Massages of validation</h1>
    {% if messages %}
        <ul class="messages">    
        {% for message in messages %}    
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
        </ul>
    {% endif %}
      </div>
</body>
</html>