<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}	
    <link rel="stylesheet" href="{% static  'style3.css'%}">  
    <title class="title-dark">Show New </title>
</head>
<body>
  <footer class="col-12" ><h1>TV-SHOW {{show.id}}</h1> <a href="/shows/">Back to home</a></footer>
      
      <div class="col-6" >
          <div class="container col">
            <div class="column col">
              
              <p> title :{{show.title}}</p>
              <p>NETWORK :{{show.network}}</p>
              <p>Release Date :{{show.release_date}}</p>
              <p>Description : {{show.desc}}</p>
            </div>
            <div class="row-2 ">
              <a href="/delete/{{showed.id}}">Delete me</a>
              <a href="/shows/{{show.id}}/edit">Editing me</a>
          </div>
          </div>
  
          
</body>
</html>