<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}	
    <link rel="stylesheet" href="{% static  'style4.css'%}">  
    <title class="title-dark">Dojos & Ninjas </title>
</head>
<body>
      <footer class="col-12" ><h1>Edit Show {{id}}</h1> <a href="/shows/">Back to home</a></footer>
  
      <div class="row" >
          <div class="container col-2">
            <a style="position:absolute; top:10px;left:15px; font-size: 17px; color: blueviolet;" href="/shows">Go Back to home</a>
            <div class="column col-4">
              <form method="post">
                {% csrf_token %}
                    <label for="">Title</label>
                    <input type="text" name="title_from" value="{{show_id.title}}" required>
                    <div>
                    <label for="">Network</label>
                    <input type="text" name="network_from" value="{{show_id.network}}" required>
                    <label for="">State</label>
                    <input type="date" name="date_from" value="{{show_id.release_date}}" >
                  </div>
                    <label for="">Desc</label>
                    <input type="desc" name="desc_from" value="{{show_id.desc}}" >
                    <input type="submit" class="btn btn-danger" name="update2" value="edit" >

                    <h1>{{message}}</h1>
              </form>
            </div>
            </div>
          </div>
      </div>    
      <div class="col-8">
        <h1>Massages of validation</h1>
    {% if messages %}
        <ul class="messages">    
        {% for message in messages %}    
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
        </ul>
    {% endif %}
      </div>
</body>
</html>